.Weather {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 20px;
}

.Weather h1 {
  color: black;
  font-size: 40px;
  font-weight: 100;
  line-height: 40px;
  margin: 20px 0 0 0;
  margin-left: 12px;
}

.Weather a {
  text-decoration: none;
}

.Weather li {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 100;
  list-style: none;
  line-height: 12px;
  margin-left: 12px;
}

.Weather .weather-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 70px;
  line-height: 1.5;
  font-weight: 500;
  margin: 5px 26px auto;
}

.weather-temperature .units {
  color: #212121;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -38px;
  right: 25px;
}
