.Weather {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 20px;
}
.Weather .weather-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Weather .Weather .btn {
  background: rgb(236, 121, 78);
  border: none;
  border-radius: 8px;
}
.Weather .search-input {
  border: #885df1;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  margin: 5px 26px auto;
}
.Weather li span {
  color: rgb(236, 121, 78);
}

.weather-temperature .units {
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  right: 30px;
}
.Weather.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.Weather.weather-temperature .fahrenheit {
  text-decoration: none;
}
.Weather.weather-temperature .active:hover {
  text-decoration: none;
}
.Weather.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.Weather.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.Weather.weather-forecast-temperature-min {
  color: rgb(236, 121, 78);
  opacity: 0.5;
}
.Weather.weather-forecast-temperatures {
  font-size: 13px;
  color: rgb(236, 121, 78);
}
